<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.golang.md5" >

    <application
        android:allowBackup="true"
        android:label="MD5 Hasher"
        android:theme="@style/Theme.NoTitle">
        <activity
            android:name=".MainActivity"
            android:label="MD5 Hasher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
